@import "../../../../master.scss";

.scheduler-calendar-table {
  width: calc(100% + 17px);
  display: flex;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 240px);
  position: relative;
  &__column {
    width: 12.5%;
    position: relative;
    &__cell {
      width: 100%;
      height: 50px;
      border: 1px solid $gray;
      border-left: none;
      border-top: none;
    }
    &__hour-cell {
      width: 100%;
      display: flex;
      &__hour {
        display: block;
        margin: -10px 0 0 auto;
        font-size: 14px;
      }
      &__border {
        width: 40px;
        height: 50px;
        border: 1px solid $gray;
        border-left: none;
        border-top: none;
      }
    }
    &__note-layer {
      width: 100%;
      height: 100%;
      position: absolute;
    }
  }
  &__edit-panel {
    width: 100%;
    position: absolute;
    z-index: 2;
    height: 100%;
    background: rgba(255,255,255,0.75)
  }
  .day {
    width: 100%;
  }
}