$darkBlue: #283754;
$lightBlue: #1071E2;
$green: #36AF46;
$red: #E91852;
$yellow: #FCC52D;
$gray: #CCC;
$lightGray: #EEE;
$darkGray: #666;
$darkerGray: #333;

$baseFontSize: 18px;
$sideMenuWidth: 260px;
$borderRadius: 14px;